body{
 background:rgb(114, 202, 230);

}
header{
    width: 1000px;
    height: 125px;
    border:none ;
    background-color: lightblue;
    text-align: center;
}
    .contenedor{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        
}
.logo{
    width: 150px;
    height: 125px;
    border: 1px solid #000 ;
    float: left;
   
}
.menu{
    width: 845px;
    height: 50px;
    border: 1px solid #ccc ;
    float:right ;
    margin-top: 50px;
    background-color: cornflowerblue;

}

.menu ul li{
    list-style: none;
    float: right;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 12px;
    border: 0px solid  #ccc;
    color: rgb(12, 12, 12);
}
.fondo{
    background:url("imagenes/insummos.jpg");

}
#slide{
    margin-top: 80px;
    width: 1000px;
    height: 500;
}
#logoimg{
    width: 100px;
    height: 100px;
}
